name: Health Check
on:
  push:
    branches: [main]
jobs:
  health_check:
    runs-on: ubuntu-latest
    steps:
      - uses: jtalk/url-health-check-action@v4
        with:
          url: https://full-stack-open-pokedex-billowing-breeze-4348.fly.dev/health
          max-attempts: 3
          retry-delay: 5s
